/* Dashboard.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Layout */
.dashboard-container {
  display: flex;
  max-height: 100vh;
}

.dashboard-heading {
  font-weight: bold;
  color: black;
  list-style: none;
  align-items: center;
  padding: 16px;
  background-color: grey;
}

.dashboard-heading i {
  margin-right: 8px;
}

.dashboard-main {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 16px;
  background-color: #f4f4f4;
  margin-left: 240px;
  margin-top: 64px;
  height: calc(100vh - 64px);
  position: fixed;
  width: calc(100% - 240px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-main {
    padding: 8px;
    margin-left: 200px;
  }
}
