* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.sidebar li {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.sidebar .list-none li.bg-gray-700 {
  background-color: #4a5568;
}

.sidebar .list-none li:hover {
  background-color: #2d3748;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
