/* Sidebar.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 64px; /* Adjust based on header height */
  height: calc(100% - 64px); /* Adjust based on header height */
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #fff; /* Add bottom border to each li */
}

.sidebar li:hover {
  background-color: #444;
}

.sidebar li i {
  margin-right: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
